<h3>{{ _('Navbar Temperature') }}</h3>
<div>
    <form class="form-horizontal">
        <div class="control-group">
            <label class="control-label" for="settings-navbartemp-display"></label>
            <div class="controls">
                <label class="checkbox">
                    <input type="checkbox" data-bind="checked: settings.displayRaspiTemp"> {{ _('Show system temperature') }}
                </label>
                <label class="checkbox">
                    <input type="checkbox" class="check-fan-temp" data-bind="checked: settings.shutdownFan">
                    <span class="label-text">{{ _('Shutdown tool fan below') }} </span>
                    <div class="input-append">
                        <input type="number" step="1" min="0" max="70" class="input-mini text-right" data-bind="value: settings.shutdownTemp">
                        <span class="add-on">°C</span>
                    </div>
                </label>
            </div>
        </div>
    </form>
</div>